@import "common.css";

/* Stuff for the collapsible (break this all up please) */
/* Still needs work - this is the default design */
.collapsible {
  color: white;
  background-color: #00539B;
  cursor: pointer;
  padding: 4vh;
  width: 100%;
  border-bottom: none;
  border-top: none;
  border-left: white;
  border-right: white;
  text-align: left;
  outline: none;
  font-size: 1.1em;
  font-weight: bold;
}

#reqs {
  margin: auto;
  width: 80%;
}

.first {
  border-top: 2px solid white;
}

.active-collaps,
.collapsible:hover,
.collapsible:focus {
  background-color: #2070ba;
  color: white;
}

.collapsible:hover:after {
  content: '\002B';
  color: white;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible:after:focus {
  border: 1px solid white;
}

.active-collaps {
  border: none;
}

.active-collaps:after {
  content: '\2212';
  color: white;
}

.active-collaps:hover:after {
  content: '\2212';
}

.collaps-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #2070ba;
  border-left: 2px solid #2070ba;
  border-right: 2px solid #2070ba;
  border-bottom: 2px solid white;
  
}

.collaps-content table {
	width: 100%;
	align-content: center;
}

/* stuff for pathways */
.path-header {
	display: flex;
	width: 100%;
	justify-content: center;
}

.path {
	display: flex;
	justify-content: center;
	margin: auto;
}

.semester {
  list-style: none;
}

h6 {
  margin-top: 2em;
  margin-bottom: 2em;
}

ul {
  text-align: left;
  margin-top: -2em;
  padding-top: -2em;
  margin-bottom: -2em;
  list-style-type: disc;
}

.path-btn {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  background-color: #00539B;
  color: white;
  border: none;
  padding: 18px 18px;
  cursor: pointer;
}

.path-btn:hover,
.path-btn:focus {
  background-color: #2070ba;
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}