@import "common.css";

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

br {
    line-height: 0.5em;
}

#body-content {
    min-height: 120vh;
    position: relative;
    margin-bottom: 6vh;
}

.two-column {
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    position: relative;
}

.long {
    padding-bottom: 2vh;
}

.short {
    width: 75%;
}

#extra-content {
    margin-top: 65vh;
    line-height: 1em;
}
