@import "common.css";

/*.directory {
	width: 80%;
	margin: auto;
	align-content: center;
}

.directory tr {
	display: flex;
}

.directory td {
	display: flex;
	width: 33.33%;
	margin: auto;
	align-self: center;
}

.directory td p {
	align-self: center;
	margin-left: 2vw;
}*/

.directory {
	width: 100%;
	display: inline-flex;
	align-content: center;
	border: solid black 2px;
}

.entry {
	float: inline;
	margin: auto;
	width: 50%;
	border: solid red 2px;
}

.rnd-img {
	float: left;
	width: 20vw;
	border: solid blue 2px;
	padding: 2em;
}

.text-div {
	margin: auto;
	margin-top: 20%;
	width: 12vw;
	float: right;
}

.name {
	line-height: 1em;
	margin-bottom: 0em;
}

.standard-text {
	margin-top: 0em;
	border: solid green 2px;
}