@import "common.css";

/*.directory {
	width: 80%;
	margin: auto;
	align-content: center;
}

.directory tr {
	display: flex;
}

.directory td {
	display: flex;
	width: 33.33%;
	margin: auto;
	align-self: center;
}

.directory td p {
	align-self: center;
	margin-left: 2vw;
}*/

tr {
	width: 30%;
	display: inline;
}