@import "common.css";

/*.directory {
	width: 80%;
	margin: auto;
	align-content: center;
}

.directory tr {
	display: flex;
}

.directory td {
	display: flex;
	width: 33.33%;
	margin: auto;
	align-self: center;
}

.directory td p {
	align-self: center;
	margin-left: 2vw;
}*/

.directory {
	display: inline-flex;
}

.entry {
	float: inline-block;
}

.rnd-img {
	float: left;
	width: 20vw;
}

.standard-text {
	float: right;
	margin-top: 50%;
	margin-bottom: 50%;
}