@import "common.css";

#left {
    float: left;
    max-width: 50%;
}

#right {
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    max-width: 50%;
}

br {
    line-height: 0.5em;
}

#body-content {
    min-height: 100vh;
    position: relative;
    margin-bottom: 6vh;
}

.two-column {
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    position: relative;
    min-height: 110vh;
}

.long {
    padding-bottom: 2vh;
}

.short {
    width: 75%;
}
