@import "common.css";

#curr-btn {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    background-color: #00539B;
    color: white;
    border: none;
    padding: 12px 12px;
    width: 16vw;
    cursor: pointer;
    font-size: 1.05em;
}

#curr-btn > a,
#curr-btn > a:visited {
    color: white;
    text-decoration: none;
}

#curr-btn:hover,
#curr-btn:focus {
    background-color: #2070ba;
}

h1 {
    position: absolute;
    margin-top: 30vh;
    width: 100%;
    text-align: center;
}

.main-img {
    margin-top: 3em;
}