@import "common.css";

.grid-container {
	display: grid;
	grid-template-columns: 20% 20% 20% 20%;
	grid-gap: 2vh;
	margin-top: 2vh;
	justify-content: center;
}

.project-content {
	position: relative;
}

.project-content > img {
	max-width: 100%;
	max-height: 100%;
	object-fit: fill;
	opacity: 0.5;
}

.project-content:hover {
	color: white;
	cursor: pointer;
}

.project-content > img:hover {
	opacity: 1;
}

.project-content > h4 {
	position: absolute;
	bottom: 1vh;
	width: 100%;
}

.show {
	display: block;
}

.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: white;
	cursor: pointer;
}

.btn:hover {
	background-color: #ddd;
}

.btn.active {
	background-color: #666;
	color: white;
}

.modal {
	display: none;
}