@import "common.css";

.two-col {
	display: flex;
	align-items: center;
	width: 100%;
	line-height: 1em;
}

.left {
	width: 35%;
	margin-right: 2vw;
	justify-content: center;
}

.right {
	width: 65%;
	margin-left: 2vw;
	justify-content: right;
}